html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
}
.main{
    margin-top: 70px;
    padding: 0 20px;
}
.main form{
    padding-top: 170px;
}
.main form label{
    /*margin-left: 5px;*/
}
#submit{
    width: 70%;
    height: 35px;
    background: rgb(43,162,160);
    margin: 35px 20px 0 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
}
.center_div {
    width: 100%;
    text-align: center;
}
.right_div {
    width: 100%;
    margin-top:20px;
    text-align: right;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
.word_list li{
    width: 50%;
    float: left;
    font-size: 30px;
}
.word_list li div{
    background: url(../images/blue_rect.png);
    background-size: 100% 100%;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    line-height: 85px;
}
.word_list li:nth-child(2n) div{
    background: url(../images/yellow_rect.png);
    background-size: 100% 100%;
}
.check {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.form_line{
    background-color: rgb(88,83,123);
    border-radius: 17px;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    color: #fff;
}
.form_line input[type="text"]{
    background: none;
    border: none;
    color: #fff;
    width: 60%;
}
.split{
    margin:0 10px;
    color: rgb(73,66,102);
}
.title{
    background: url(../images/title.png);
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    margin-top: -50px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#back{
    background: url(../images/back.png);
    background-size: 100% 100%;
    width: 100px;
    height: 40px;
    float: left;
    border: none;
    margin-left: -10px;
    margin-top: 10px;
}
#next{
    background: url(../images/next.png);
    background-size: 100% 100%;
    width: 100px;
    height: 40px;
    float: right;
    border: none;
    margin-top: 10px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#no{
    background: url(../images/no.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: left;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}
#yes{
    background: url(../images/yes.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
.head_div{
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    text-align: center;
}
.head1{
    background: url(../images/head1.png);
    background-size: 100% 100%;
    width: 100px;
    height: 32px;
    margin: 0 auto;
}
.head2{
    background: url(../images/head2.png);
    background-size: 100% 100%;
    width: 100px;
    height: 32px;
    margin: 0 auto;
}
.head3{
    background: url(../images/head3.png);
    background-size: 100% 100%;
    width: 100px;
    height: 32px;
    margin: 0 auto;
}
.head4{
    background: url(../images/head4.png);
    background-size: 100% 100%;
    width: 100px;
    height: 32px;
    margin: 0 auto;
}
.logo_div{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}
.logo{
    background: url(../images/logo.png);
    background-size: 100% 100%;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
.yes{
    color: green;
}
.no{
    color: red;
}
.end_points{
    position: absolute;
    top: 42%;
    left: 0;
    color: yellow;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
}